/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.font-link {
  font-family: "Playfair Display", serif;
}

.navlink-toggle {
  display: none;
}

.toggle-btn {
  display: none;
}

#check {
  visibility: hidden;
}

.banner-title {
  font-size: 400%;
}

.container-2 {
  width: 60%;
}

.container-1 {
  width: 40%;
  padding-right: 50px;
  padding-top: 5px;
}

.title-size {
  font-size: 20px;
}

.custom-font {
  font-size: 40px;
}

/* Responsiveness(according to bootstrap breakpoints)*/

/* Large Device */
@media only screen and (max-width: 992px) {
  /* Navbar */
  .navlink-toggle {
    flex-direction: column;
    position: fixed;
    top: 86px;
    right: -100%;
    display: block;
    margin-top: 0;
    background-color: #10375d;
    padding: 15px;
    transition: all 0.5s ease;
  }

  .single-navlink {
    padding: 15px 0 15px 25px;
    text-align: center;
  }

  .toggle-btn {
    color: #e0e2d5;
    cursor: pointer;
    display: block;
  }

  #check:checked ~ .navlink-toggle {
    right: 0%;
    width: 100%;
  }

  .navbar-title {
    display: block;
  }

  /* Banner */
  .banner-title {
    font-size: 250%;
    text-align: center;
  }

  .container-1 {
    padding-right: 30px;
  }

  .custom-font {
    font-size: 30px;
  }
}

/* Medium Device */

/* Banner */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .container-2,
  .container-1 {
    width: 80%;
    padding: 0;
  }

  /* Services */
  .home-card {
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
  }

  .card-title {
    font-size: 30px;
  }

  .title-size {
    font-size: 16px;
  }

  
}

/* Small Device */

@media only screen and (max-width: 576px) {
  /* Navbar */
  .navbar-title {
    display: none;
  }

  /* Banner */
  .banner-title {
    font-size: 220%;
  }

  .title-size {
    font-size: 12px;
  }

  .custom-font {
    font-size: 20px;
  }

  .input-field{
    flex-direction: column;
  }
}
